<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="canonical" href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:image" content="https://chicksgold.com/assets/seo_image.jpg" />
    <meta name="twitter:description" content="Buy cheap Runescape 3 and OSRS gold fast and easy! Chicks Gold is the best way to get all your Runescape, OSRS and RS3, and WoW Classic gold needs at an affordable and timely manner. We strive to ensure that the gold you receive is given with the best level of customer service and every single customer leaves happy." />
    <meta name="twitter:title" content="Chicks Gold | Cheapest Runescape and WoW Classic Gold" />
    <meta name="twitter:creator" content="@ChicksGold" />
    <meta name="twitter:site" content="@ChicksGold" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <meta property="og:site_name" content="Chicks Gold" />
    <meta property="og:image" content="https://chicksgold.com/assets/seo_image.jpg" />
    <meta property="og:title" content="Chicks Gold | Cheapest Runescape and WoW Classic Gold" />
    <meta property="og:description" content="Buy cheap Runescape 3 and OSRS gold fast and easy! Chicks Gold is the best way to get all your Runescape, OSRS and RS3, and WoW Classic gold needs at an affordable and timely manner. We strive to ensure that the gold you receive is given with the best level of customer service and every single customer leaves happy." />
    <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content="Buy cheap Runescape 3 and OSRS gold fast and easy! Chicks Gold is the best way to get all your Runescape, OSRS and RS3, and WoW Classic gold needs at an affordable and timely manner. We strive to ensure that the gold you receive is given with the best level of customer service and every single customer leaves happy.">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
              'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '281632059682552');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=281632059682552&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118135366-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118135366-2');
      gtag('config','AW-703865170');
    </script>
    <script type="text/javascript" src="https://hosted.paysafe.com/checkout/v1/latest/paysafe.checkout.min.js"></script>
    <script type="text/javascript" src="https://sandbox.bluesnap.com/web-sdk/4/bluesnap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeIU6rha0d-HRur76wkogMV_Ds2_4vxec&libraries=places"></script>
  </head>

  <body>
    <div class="wrapper" aurelia-app="main"></div>

    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dqgl5no3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  </body>

</html>
